{% extends 'base.html' %}
{% load static %}
{% load product_tags %}

   <main>
{% block content %}

        <!-- slider-area-start -->
         <div class="slider-area">
            <div class="swiper-container slider__active">
                <div class="slider-wrapper swiper-wrapper">
                    {% for i in banners %}
                    <div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/{{ i.Banner }}">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="slider-content">
                                        <div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1.5s">
                                            <a href="product-details.html" class="st-btn b-radius">{{ i.Deal }}</a>
                                        </div>
                                        <h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">{{ i.Discount_Offer }} <br>
                                            {{ i.Brand}}</h2>
                                        <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s">Discount upto {{i.Discount_percent}}  On Products & Free Shipping</p>

                                        <div class="slider-bottom-btn mt-75">
                                            <a data-animation="fadeInUp" data-delay="1.15s" href="{{ i.Featured_cat.Category_name}}" class="st-btn-b b-radius">Discover now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /single-slider -->
                    {% endfor %}
                    <div class="main-slider-paginations"></div>
                </div>
            </div>
        </div>
        <!-- slider-area-end -->

    <!-- features__area-start -->
        <section class="features__area pt-20">
            <div class="container">
                <div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-0">
                    <div class="col">
                        <div class="features__item d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fal fa-truck"></i>
                            </div>
                            <div class="features__content">
                                <h6>FREE DELIVERY</h6>
                                <p>For all orders over $120</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features__item d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fal fa-money-check"></i>
                            </div>
                            <div class="features__content">
                                <h6>SAFE PAYMENT</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features__item d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fal fa-comments-alt"></i>
                            </div>
                            <div class="features__content">
                                <h6>24/7 HELP CENTER</h6>
                                <p>Delicated 24/7 support</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features__item features__item-last d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fad fa-user-headset"></i>
                            </div>
                            <div class="features__content">
                                <h6>FRIENDLY SERVICES</h6>
                                <p>30 day satisfaction guarantee</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- features__area-end -->

        <!-- banner__area-start -->
        <section class="banner__area pt-20 pb-10">
            <div class="container">
                <div class="row">
                        {% for b in banners %}
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img">
                                <a href="product-details.html"><img src="/{{ b.Featured_cat.Image }}" style="height: 250px" alt=""></a>
                            </div>
                            <div class="banner__content">
                                <h6><a href="product-details.html">Lettest Offers on {{ b.Featured_cat.Category_name }}</a></h6>
                                <p>Discount Upto {{ b.Discount_percent }} % <On></On> Products</p>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
{#                    <div class="col-xl-4 col-lg-4 col-md-6">#}
{#                        <div class="banner__item p-relative mb-30 w-img">#}
{#                            <div class="banner__img">#}
{#                                <a href="product-details.html"><img src="{% static 'assets/img/banner/banner-2.jpg' %}" alt=""></a>#}
{#                            </div>#}
{#                            <div class="banner__content">#}
{#                                <h6><a href="product-details.html">On-sale <br> Best Prices</a></h6>#}
{#                                <p>Limited Time: Online Only!</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-xl-4 col-lg-4 col-md-6">#}
{#                        <div class="banner__item p-relative mb-30 w-img">#}
{#                            <div class="banner__img">#}
{#                                <a href="product-details.html"><img src="{% static 'assets/img/banner/banner-3.jpg' %}" alt=""></a>#}
{#                            </div>#}
{#                            <div class="banner__content">#}
{#                                <h6><a href="product-details.html">Hot Sale <br> Super Laptops 2022 </a></h6>#}
{#                                <p>Free Shipping All Order</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </section>
        <!-- banner__area-end -->


{#============================================================================================================#}

    <!-- topsell__area-start -->
        <section class="topsell__area-1 pt-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-10">
                            <div class="section__title">
                                <h5 class="st-title-d">Top Deals Of The Day</h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="product-bs-slider">
                        <div class="product-slider swiper-container">
                            <div class="swiper-wrapper">
{#  ==========================================================================================#}
                                {% for p in products %}
                                <div class="product__item swiper-slide">
                                    <div class="product__thumb fix">
                                        <div class="product-image w-img">
                                            <a href="{{ p.get_absolute_url }}">
                                                <img src="{{ p.Featured_image }}" alt="product">
                                            </a>
                                        </div>
                                        <div class="product__offer">
                                        <span class="discount">-{{ p.Discount }}%</span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId-{{ forloop.counter }}">
                                                <i class="fal fa-eye"></i>
                                                <i class="fal fa-eye"></i>
                                            </a>
                                            <a href="#" class="icon-box icon-box-1">
                                                <i class="fal fa-heart"></i>
                                                <i class="fal fa-heart"></i>
                                            </a>
                                            <a href="#" class="icon-box icon-box-1">
                                                <i class="fal fa-layer-group"></i>
                                                <i class="fal fa-layer-group"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product__content">
                                        <h6><a href="{{ p.get_absolute_url }}">{{ p.Product_name | truncatewords:10 }}</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            </ul>
{#                                            <span>(01 review)</span>#}
                                        </div>
                                        <div class="price mb-10">
                                            <span>${% calc_sell_price p.Price p.Discount %}</span>&nbsp;&nbsp;<del>{{ p.Price }}</del>
                                        </div>
                                        <div class="progress mb-5">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: {% progress_bar p.Total_qty p.Availablity %}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress-rate">
                                            <span>Sold:{{ p.Availablity }}/{{ p.Total_qty }}</span>
                                        </div>
                                    </div>
                                    <div class="product__add-cart text-center">
                                        <a type="button" href="{% url 'cart_add' p.id %}" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                        Add to Cart
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
{#======================================================================================#}
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="bs-button bs-button-prev"><i class="fal fa-chevron-left"></i></div>
                        <div class="bs-button bs-button-next"><i class="fal fa-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- topsell__area-end -->

{% for p in products %}
{#    !-- shop modal start -->#}
        <div class="modal fade" id="productModalId-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered product__modal" role="document">
                <div class="modal-content">
                    <div class="product__modal-wrapper p-relative">
                        <div class="product__modal-close p-absolute">
                            <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                        </div>
                        <div class="product__modal-inner " style="margin-top:50px">
                            <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                                <div class="product__modal-box">
                                    <div class="tab-content" style="margin-top:80px;  id="modalTabContent">
                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img  src="{{ p.product_image_set.first.Image_url}}" alt="">
                                            </div>
                                        </div>
                                        {% for img in p.product_image_set.all %}
                                            <div class="tab-pane fade show "  id="nav{{ img.id }}" role="tabpanel" aria-labelledby="nav{{ img.id }}-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{{ img.Image_url}}" alt="">
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        {% for img in p.product_image_set.all %}
                                        <li class="nav-item" style="margin-top:100px; " role="presentation">
                                            <button class="nav-link " id="nav{{ img.id }}-tab" data-bs-toggle="tab" data-bs-target="#nav{{ img.id }}" type="button" role="tab" aria-controls="nav{{ img.id }}" aria-selected="true">
                                                <img style="height: 85px; width: 85px" src="{{ img.Image_url }}" alt="">
                                            </button>
                                        </li>
                                            {% endfor %}

                                        </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4><a href="/product/{{ p.slug }}/">{{ p.Product_name }}</a></h4>
                                    <div class="product__review d-sm-flex">
                                        <div class="rating rating__shop mb-10 mr-30">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        </ul>
                                        </div>
                                        <div class="product__add-review mb-15">
                                        <span>01 review</span>
                                        </div>
                                    </div>
                                     <span class="discount">-{{ p.Discount }}%</span>
                                    <div class="product__price">

                                        <span>${% calc_sell_price p.Price p.Discount %}</span>&nbsp; <del>{{ p.Price}}</del>
                                    </div>
                                    <div class="product__modal-des mt-20 mb-15">
                                        <ul>
                                            <li><a href="#">{{ p.Product_Information|safe   }}</a></li>
{#                                            <li><a href="#"><i class="fas fa-circle"></i> Display with 3088 x 1440 pixels resolution.</a></li>#}
{#                                            <li><a href="#"><i class="fas fa-circle"></i> Memory, Storage & SIM: 12GB RAM, 256GB.</a></li>#}
{#                                            <li><a href="#"><i class="fas fa-circle"></i> Androi v10.0 Operating system.</a></li>#}
                                        </ul>
                                    </div>
                                    <div class="product__stock mb-20">
                                        <span class="mr-10">Availability :</span>
                                        <span> {{ p.Availablity }} in stock</span>
                                    </div>
                                    <div class="product__modal-form">
                                        <form action="#">
                                        <div class="pro-quan-area d-lg-flex align-items-center">
                                            <div class="product-quantity mr-20 mb-25">
                                                <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                            </div>
                                            <div class="pro-cart-btn mb-25">
                                                <a href="{% url 'cart_add' p.id %}" class="cart-btn" type="submit">Add to cart</a>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="product__stock mb-30">
                                        <ul>
                                            <li><a href="#">
                                                <span class="sku mr-10">Model:</span>
                                                <span>{{ p.Model_name }} </span></a>
                                            </li>
                                            <li><a href="#">
                                                <span class="cat mr-10">Categories:</span>
                                                <span>{{ p.Categories }}</span></a>
                                            </li>
                                            <li><a href="#">
                                                <span class="tag mr-10">Tags:</span>
                                                <span>{{ p.Tags }}</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop modal end -->
    {% endfor %}




{% endblock %}
    </main>

