<div class="cart">
                                        <div class="cart__mini">
                                            <ul>
                                                <li>
                                                  <div class="cart__title">
                                                    <h4>Your Cart</h4>
                                                    <span>({{request.session.cart|length}} Item in Cart)</span>
                                                  </div>
                                                </li>
                                                {% for key,value in request.session.cart.items %}
                                                <li>
                                                  <div class="cart__item d-flex justify-content-between align-items-center">

                                                    <div class="cart__inner d-flex">
                                                      <div class="cart__thumb">
                                                        <a href="#">
                                                          <img src="{{ value.Featured_image }}" alt="">
                                                        </a>
                                                      </div>

                                                      <div class="cart__details">
                                                        <h6><a href="#">{{ value.Product_name}}</a></h6>
                                                        <div class="cart__price d-flex  justify-content-end">
                                                          <span>{{value.quantity}} x</span>&nbsp;<span>${{ value.price }}</span>
                                                        </div>
                                                      </div>
                                                    </div>

                                                    <div class="cart__del">
                                                        <a href="{% url 'item_clear' key  %}"><i class="fal fa-times"></i></a>
                                                    </div>
                                                  </div>
                                                </li>
                                                {% endfor %}
                                                <li>
                                                  <div class="cart__sub d-flex justify-content-between align-items-center">
                                                    <h6>Subtotal</h6>
                                                    <span class="cart__sub-total">${{ cart_total_amount }}</span>
                                                  </div>
                                                </li>
                                                <li>
                                                    <a href="cart/cart-detail/" class="wc-cart mb-10">View cart</a>
                                                    <a href="/checkout/" class="wc-checkout">Checkout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>